*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #c9aae3;
}

.card {
    background-color: #edd8ff;
    border: 2px solid #a256ff;
    border-radius: 15px;
    padding: 30px;
    margin: auto 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 36px;
    color: #7519c6;
}

.noHitbox{
    width: fit-content;
}

.yes-button, .no-button {
    background-color: #ba5aff;
    color: white;
    border: none;
    border-radius: 10px;
    margin-left: 20px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.no-button{
    margin: 40px;
    z-index: 100;
    animation: moveHitbox 4s linear infinite;
}

.yes-button{
    font-size: 4em;
}

.yes-button:hover {
    background-color: #980b0b;
}
